@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* reset css to default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /*outline: 1px dashed #808080;*/
}

/* set up the page background and styles */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #e0ffff;
}

/* Start of styling header and nav */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 70px 70px; /* top, right, bottom, left */
  width: 80%;
  margin: auto;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin-right: 30px;
}

nav ul li a {
  color: rgb(90, 192, 70);
  text-decoration: none;
}

nav ul li a:hover {
  color: #fdbd31;
  transition: 0.3s;
}

/*end of styling header and nav */

/* start of styling of main section */

#mainsection {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
  width: 80%;
  margin: auto;
  height: 100dvh;
}

.left-div {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: end;
}

.right-div {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: normal;
  width: 80%;
  margin: 20px auto; /* tp+bottom, left+right where the changes take place*/
}

/* end of styling for main section */

/* start of styling profile container */

.profilecontainer {
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 10px;
  width: 300px;
}

.profilecontainer p span {
  display: block;
}

.rounded-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0px 5px;
  border: 5px solid white;
}

/* end of styling profile container */

/* start of styling the profile details container*/
.profiledetails ul li {
  list-style: none;
  font-size: small;
  padding-left: 20px;
  line-height: 25px;
}

.profiledetails .subheader {
  background-color: rgb(237, 233, 231);
  display: block;
  padding: 5px 0;
  font-size: medium;
  border-bottom: 1px dashed lightblue;
  border-top: 1px dashed lightblue;
}
/* end of styling the profile details container*/

/* start of styling linkcontainer */

.linkcontainer {
  display: flex;
  margin-top: 10px;
}

.linkcontainer a {
  padding: 10px 20px;
  font-size: small;
  background: #008080;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

/* end of styling linkcontainer */

/* start of styling project card */
.projectcard {
  font-size: small;
  background-color: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 24px;
}

.projectcard h4,
.projectcard p {
  padding-left: 16px;
}

.projectcard img {
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 180px;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-image: url("/img/imgplaceholder.png");
  text-indent: -9999px;
}

.projectcard .scope {
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 8px;
}

.projectcard:hover {
  transition: 0.45s ease-out;
  transform: scale(1.05);
}

.projectcard a {
  text-decoration: none;
  color: #808080;
  transform: scale(1);
}

.projectcard span {
  display: inline-block;
  font-size: x-small;
  align-content: space-between;
  border-radius: 6px;
  margin: 4px;
  background-color: lightseagreen;
  padding: 5px 10px;
  color: #ffffff;
  white-space: nowrap;
}

/* end of styling project card */

/* start of styling project section and showcasecontainer */

.sectiontitle,
.logo {
  font-size: xx-large;
  font-weight: 700;
  color: aquamarine;
}

#projectsection {
  width: 80%;
  margin: 0 auto;
  height: 100dvh;
}

.showcasecontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

/* end of styling project section and showcasecontainer */

/*start of styling misc elements*/

.top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top a {
  margin-top: 20px;
  text-decoration: none;
  color: lightseagreen;
  font-size: small;
}

/*end of styling misc elements*/

/* end of styling section */
